.modal-container{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.250);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}

.modal{
    background-color: rgba(255, 255, 255, 0.75);
    width: calc(15rem + 15vw);
    padding: 2rem;
    height: auto;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);

    transform: translateY(-600px);
    transition: all 0.4s ease;
}

.modal_header {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.modal_header-title{
    text-align: center;
}

/* .modal_header-close{
    position: absolute;
    right: 0;
    top: 0; 
    cursor: pointer; 
} */

.modal-content{
    border-bottom: 1px solid #e5e5e5;
    padding: 2rem 0;
}

.modal_footer{
    padding: 2rem 0;
    padding-bottom: 0;
}

.modal_close{
    float: right;
    padding: 0.5rem;
    border-radius: 8px;
}

.submit{
   margin-right: 1rem; 
   border-radius: 8px;
   padding: 0.5rem;
}

.modal-container.show{
    opacity: 1;
    visibility: visible;
   
}

.modal-container.show
.modal{
    transform: translateY(0);
}